# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
android/
ios/

# Environment variables
.env
.env.local
.env.production

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Expo EAS
.easignore
